---
---

@import "{{ site.theme }}";

header {
  display: none;
}

// Hide the hapi-server.github.io link as this page is used at hapi-server.org/
h1:first-of-type {
  display: none;
}

body {
    background: #F0F2F0;
}

.container-lg {
    border: 2px solid black;
    border-radius: 1em;
    background-color: white;
}
