---
---

@import "{{ site.theme }}";

header {
  display: none;
}

// Hide the hapi-server.github.io link as this page is used at hapi-server.org/
h1:first-of-type {
  display: none;
}

body {
    background: #F0F2F0;
}

.container-lg {
    border: 2px solid black;
    border-radius: 1em;
    background-color: white;
}

{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
.markdown-body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:22px;line-height:1.5;word-wrap:break-word}
.markdown-body h1{padding-top:0.6em; padding-bottom:0.3em;font-size:2em;border-bottom:1px solid #eaecef}
.markdown-body h2{padding-bottom:0.3em;font-size:1.5em;border-bottom:1px solid #eaecef}
.markdown-body h3{font-size:1.25em}
.container-lg{border:2px solid black;border-radius:1em;background-color:white}
  .row {
  display: flex;
  }
  .column {
  flex: 50%;
  }
  .full {
  flex: 100%;
  }
  /* from https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #c60; /* #777; */
  position: fixed; /* Set the navbar to fixed position */
  border-radius: 1em;
  top: 0; /* Position the navbar at the top of the page */
  width: 99%; /* Full width */
}
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
